.footer {
  padding: 4rem 0;

  text-align: center;

  background: rgba(0,0,0,.25);

  border-top: 1px solid rgba(255,255,255,.05);
}

.footer h3 {
  color: var(--color-white);

  margin-bottom: .8rem;
}

.footer p {
  color: var(--color-muted);

  margin-bottom: .5rem;
}